.perspective-container {
	perspective: 1000px; /* Adds 3D perspective to the container */
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.flip-card {
	position: relative;
	width: 100%; /* Card width */
	height: 100%; /* Card height */
	transform-style: preserve-3d; /* Required for 3D transformations */
}

.card-face {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden; /* Hides the back face when not visible */
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	color: white;
	border-radius: 1rem;
}

.front {
	background-color: #785f41; /* Blue front face */
}

.back {
	background-color: #301d0e; /* Green back face */
	transform: rotateX(180deg); /* Flips the back face */
}
