@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Olivera Regular";
	font-style: normal;
	font-weight: normal;
	src: local("Olivera Regular"),
		url("./assets/Fonts/Olivera-ZVxzB.woff") format("woff");
}

body {
	font-family: "Olivera Regular", sans-serif;
}
html {
	scroll-behavior: smooth;
}
